#category{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
	url('../../../media/images/furniture.png');
	background-size: cover;
	background-position: center;
	background-attachment:fixed;
	padding-top:50px;
	padding-bottom:50px;
	color:#efefef;
}